<%= simple_form_for([@post, @post.comments.build]) do |f| %>
    <div class="field">
      <%= f.input :commenter %>
    </div>
    <div class="field">
      <%= f.input :body %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>